.over-card-menu-container {
    background-color: #2E9598;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card-menu-container {
    flex-direction: column;
    color: aliceblue;
    display: flex;
    align-items: center;
    background-color: #2E9598;
    border-radius: 25px;
    width: 96%;
    max-width: 412px;
    /* height: 90vh; */
    max-height: 90vh;
}

.buttons-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.zarpe-button {
    padding: 8px 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 30px;
}

.button:hover {
    background-color: #333;
}