.card {
  color: aliceblue;
  border-radius: 25px;
  border: 16px solid aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  min-width: 304px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* transform: rotateY(180deg); */
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front{
  /* background-color: #000; */
  backface-visibility: hidden;
}

.card-back{
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.questionMark {
  color: #f2f2f2;
  margin-top: 20px;
}

.card-event-title {
  font-size: 4.3vh;
  margin-top: 15px;
  margin-bottom: 0px;
  height: 10%;
}

.card-event-subtitle{
  display: block;
  font-size: 3.3vh;
  margin-top: 5px;
  margin-bottom: 0px;
}

.card-description {
  padding-top: 15px;
  font-size: 3.3vh;
  min-height: 22vh;
  margin: 10px;
}

.shotNumber{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 3.3vh;
}

.shotNumber-back{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 2.6vh;
  margin: 0px 10px;
}

.shotNumber .punishment-icon {
  position: relative;
  top: -10px;
}

.card-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 5vh;
  font-size: 0; /* Agrega esta línea para solucionar el problema del tamaño de los íconos en iPhone */
}

.card-special-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  font-size: 0; 
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8vh;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Aplica el border-radius al height */
  background-color: #f2f2f2;
  border: none;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.card-button-back{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8vh;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Aplica el border-radius al height */
  background-color: #626365;
  border: none;
}

.card-button svg {
  /* Ajusta el tamaño de los íconos */
  width: 3.7vh;
  height: 3.7vh;
}

.card-button:hover {
  color: #f2f2f2;
  background-color: #000;
}

.card-button:hover svg {
  /* Ajusta el color de los íconos en el estado hover */
  color: #f2f2f2;
  fill: #f2f2f2;
}

.barista-text {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

/* .barista-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.barista-button:hover {
  color: #f2f2f2;
  background-color: #000;
} */

.card-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
}

.card-menu-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card-menu-button svg {
  width: 1.6rem;
  height: 1.6rem;
}