.market-container {
    position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #f9f9f9;
  /* Agrega más estilos según tus preferencias */
  }
  
  /* .market-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .market-item-icon {
    width: 30px;
    height: 30px;
    background-color: #683697;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
  }
  
  .market-item-title {
    font-weight: bold; 
  }*/