.card-popup-background{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-popup {
    position: fixed;
    color: aliceblue;
    background-color: #626365;
    border-radius: 25px;
    /* border: 16px solid aliceblue; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    min-width: 304px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}